.container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    min-height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.main {
    padding: 20px;
    flex: 1;
}

.footer {
    border-top: 1px solid #f1576b;
    padding: 10px 20px;
    margin-top: auto;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #f1576b;
    transition: opacity 0.5s;
}

.logo:hover {
    opacity: 0.7;
}
 
.logo.disabled {
    pointer-events: none;
}


.container h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.list {
    padding: 20px;
}

.item {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f1576b;
}

.content {
    display: flex;
}

.image {
    max-width: 50%;
    margin-right: 20px;
    height: auto;
}

.item h3 {
    margin-top: 0;
}

.item:last-child {
    border: none;
}
.portfolioItem.title{
    display: flex;
}

.groupWrapper h2 {
    margin-bottom: 20px;
    text-align: center;
 }
 
 .groupWrapper {
    margin-bottom: 40px;
    border-bottom: 1px solid #f1576b;
 }
 
 .groupWrapper:last-child {
    border: none;
 }
 
 .listGroup {
    /* display: flex; */
    display: block;    
    justify-content: space-between;
 }
 
 .listGroup h3 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
 }
 
 .groupItem {
    /* display: flex; */
    display: inline-flex;    
    width: 30%;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.25s;
 }
 
 .groupItem:hover {
    background-color: #f2f2f2;
 }