html,
body {
display: flex;
max-width: 100vw;
max-height: 100vh;
overflow-x: hidden;
flex-direction: column;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}
#__next{
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
a {
    text-decoration:none; 
}
.disabled{
  pointer-events:none
}

/* //// портфолио///// */
.groupWrapper h2 {
  margin-bottom: 20px;
  text-align: center;
}

.groupWrapper {
  margin-bottom: 40px;
  border-bottom: 1px solid #f1576b;
}

.groupWrapper:last-child {
  border: none;
}

.listGroup {
  display: flex;
  justify-content: space-between;
}

.listGroup h3 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
}

.groupItem {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.25s;
}

.groupItem:hover {
  background-color: #f2f2f2;
}